DATABASE_URL="postgresql://aeelorianclientmmo-run-sa@areareai.iam@10.46.0.3:5432/postgres"
SOURCE_DATABASE_URL="postgresql://neondb_owner:npg_wbUmEvH8BQ7A@ep-blue-recipe-akekhixl.c-3.us-west-2.aws.neon.tech/neondb?sslmode=require"
EastiChache Memchache: arn:aws:elasticache:us-west-2:986523046654:serverlesscache:brain
brain-wm0mwn.serverless.usw2.cache.amazonaws.com:11212
VPC-ID
vpc-05bc52113185967f6 
Subnetze
subnet-0d9b6975483e059be , subnet-04df922a81ed1c788 , subnet-002e17be4e3a7a17e 
Availability Zones
us-west-2a, us-west-2d, us-west-2c
Endpunkt
brain-wm0mwn.serverless.usw2.cache.amazonaws.com:11211
Reader-Endpunkt
brain-wm0mwn.serverless.usw2.cache.amazonaws.com:11212
